*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.navbar-background {
  background-color: #F8F9FA;
}
.navbar-background .navbar-nav .nav-link {
  color: #121138;
}
.navbar-background .navbar-brand,
.navbar-background .navbar-text {
  color: #121138;
}
.navbar-background .navbar-brand{
  font-weight: bold;
}
.navbar-background .navbar-brand:hover{
  color: #3A516B;
}
.navbar-background .nav-item.active .nav-link,
.navbar-background .nav-item:hover .nav-link {
  color: #7e7ba2;
}

.welcome-custom-class .card-title {
  color: #F8F9FA;
  font-weight: bold;
  font-size: x-large;
}

.welcome-custom-class .card-text{
  color: #7e7ba2;
}

.welcome-custom-class .card-body{
  background-color: #121138;
}

.vision-custom-class .card-body{
  /* background-color: #E9EFFE; */
  text-align: center;
}

.vision-custom-class .card-text{
  color: #121138;
}

.copyright-footer {
  background-color: #627086;
}

#facebook-icon {
  color: #2D49F5;
}
#instagram-icon {
  color: #E9008D;
}
#youtube-icon {
  color: #FF0000;
}

.footer-contact-custom-class .card-body{
  /* background-color: #121138; */
  background-color: #F8F9FA;
  text-align: center;
}

.footer-contact-custom-class .card-text{
  /* color: #EAEAEA; */
  color: #121138;
}

.verses-custom-class {
  height: 20vh;
}

.verses-custom-class .card-text{
  color: #040135;
  text-align: center;
}

.verses-custom-class .card-body{
  /* background-color: #cad1ff; */
  background-color: #E9EFFE;
}

.verses-carousel {
  background-color: #E9EFFE;
}

.reflection-custom-class {
  /* background-color: #fff7c8; */
  background-color: #FF8811;

}


.reflection-custom-class .card-title, .blockquote{
  color: #F8F9FA;
}

.reflection-custom-class .card-text{
  /* color: #040135; */
  color: #fff7c8;
  text-align: center;
}

.text-container{
  background-image: url('../img/watch-tower.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.text-content{
  color: #EAEAEA;
  margin: 0;
}

.carousel-text {
  color: #EAEAEA;
  font-size: x-large;
  margin: 10%;
  line-height: 220%;
  white-space: initial;
}

.youtube-content {
  background-color: #121138;
  color: #F8F9FA;
}

@media (min-width: 978px) {
  .reflection-custom-class .card-body{
    padding: 10% 20%;
  }
  .welcome-custom-class .card-body{
    padding: 10% 15%;
  }
  .welcome-custom-class .card-header{
    padding: 1% 15%;
  }
  .image-carousel {
    height: 400px;
  }
  
  .image-carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
  }
  
}
@media (max-width: 978px) {
  .reflection-custom-class .card-body{
    padding: 10% 8%;
  }
  .welcome-custom-class .card-body{
    padding: 13% 8%;
  }
  .welcome-custom-class .card-header{
    padding: 4% 8%;
  }
  .image-carousel {
    height: 250px;
  }
  
  .image-carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 250px;
  }
  
}